constraints: GLUT ==2.7.0.10,
             OpenGL ==3.0.1.0,
             GLURaw ==2.0.0.2,
             OpenGLRaw ==3.2.4.0,
             base ==4.9.0.0,
             ghc-prim ==0.5.0.0,
             rts ==1.0,
             integer-gmp ==1.0.0.1,
             bytestring ==0.10.8.1,
             deepseq ==1.4.2.0,
             array ==0.5.1.1,
             containers ==0.5.7.1,
             fixed ==0.2.1.1,
             half ==0.2.2.3,
             text ==1.2.2.1,
             binary ==0.8.3.0,
             transformers ==0.5.2.0,
             ObjectName ==1.1.0.1,
             StateVar ==1.1.0.4,
             stm ==2.4.4.1
